<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IDBHUB" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8783/Design_Time_Addresses/DatabaseHUB/CDatabaseHUB/"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDBHUB"
        contract="ServiceFromAccM.IDBHUB" name="WSDualHttpBinding_IDBHUB">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <services>
      
      <!--This is the account management services to the Fat client
      #####################################################################-->
      <service behaviorConfiguration="FatContractBehevior" name="GDS_HUB.FatToAccService">
        <clear />
        <endpoint address=""
          binding="wsDualHttpBinding" bindingConfiguration="" contract="GDS_HUB.IFatC_to_AccM" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8783/Design_Time_Addresses/GDS_HUB/FatToAccService/" />
          </baseAddresses>
        </host>
      </service>
      
      
      <!--This is the Trade services to the Fat client
      ######################################################-->
      <service behaviorConfiguration="FatContractBehevior" name="GDS_HUB.FatToTradeService">
        <clear />
        <endpoint address=""
          binding="wsDualHttpBinding" contract="GDS_HUB.ItradingService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8783/Design_Time_Addresses/GDS_HUB/FatToTradeService/" />
          </baseAddresses>
        </host>
      </service>
      
        <!--This is the Transaction services to the Fat Client
        ###########################################################-->
     <service behaviorConfiguration="FatContractBehevior" name="GDS_HUB.FatToTransService">
        <clear />
        <endpoint address=""
          binding="wsDualHttpBinding" contract="GDS_HUB.ITransactionService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8783/Design_Time_Addresses/GDS_HUB/FatToTransService/" />
          </baseAddresses>
        </host>
      </service>
      
        <!--This is the Chat service to the Fat Client
        ######################################################-->
     <service behaviorConfiguration="FatContractBehevior" name="GDS_HUB.FatToChatService">
        <clear />
        <endpoint address=""
          binding="wsDualHttpBinding" contract="GDS_HUB.IChatService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8783/Design_Time_Addresses/GDS_HUB/FatToChatService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="FatContractBehevior">
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
